<table class="table tab-css tab-hover" style="text-align: center">
    <tr>
        <td style="width: 4%">编号</td>
        <td style="width: 6%">任务发起人</td>
        <td style="width: 6%">任务责任人</td>
        <td style="width: 25%">任务内容</td>
        <td style="width: 6%">任务等级</td>
        <td style="width: 11%">发布时间</td>
        <td style="width: 9%">开始时间</td>
        <td style="width: 9%">计划完成时间</td>
        <td style="width: 10%">备注</td>
        <td style="width: 8%">实际完成时间</td>
        <td style="width: 5%">逾期天数</td>
    </tr>
    {% if not tasks %}
        <tr>
            <td colspan="11">暂无内容</td>
        </tr>
    {% endif %}
    {% if tasks %}
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                {#编号#}
                <td>{{ task.task_originator }}</td>
                {#发起人#}
                <td>{{ task.task_recipient }}</td>
                {#责任人#}
                <td>{{ task.task_name }}</td>
                {#内容#}
                <td>{{ task.task_level.name }}</td>
                {#等级#}
                <td>{{ task.release_time }}</td>
                {#发布时间#}
                <td>{{ task.task_start_time }}</td>
                {#任务开始时间#}
                <td>{{ task.task_end_time }}</td>
                {#计划完成时间#}
                <td>{{ task.mark }}</td>
                {#备注#}
                <td>{{ task.virtual_end_time }}</td>
                {# 实际完成时间#}
                <td>{{ task.yuqi }}</td>
                {#逾期天数#}
            </tr>
        {% endfor %}
    {% endif %}
</table>