
    <table class="table tab-css tab-hover" style="text-align: center">
        <tr>
            <td>编号</td>
            <td>任务发起人</td>
            <td>任务责任人</td>
            <td>任务内容</td>
            <td>任务等级</td>
            <td>发布时间</td>
            <td>开始时间</td>
            <td>计划完成时间</td>
            <td>备注</td>
            <td>逾期天数</td>
        </tr>
        {% if not tasks %}
            <tr><td colspan="10">暂无内容</td></tr>
        {% endif %}
            {% for task in tasks %}
                <tr>
                    <td style="vertical-align:middle; text-align:center; width: 3%">{{ task.id }}</td>
                    {#编号#}
                    <td style="vertical-align:middle; text-align:center; width: 6%">{{ task.task_originator }}</td>
                    {#发起人#}
                    <td style="vertical-align:middle; text-align:center; width: 6%">{{ task.task_recipient }}</td>
                    {#责任人#}
                    <td style="vertical-align:middle; text-align:center; width: 20%">{{ task.task_name }}</td>
                    {#内容#}
                    <td style="vertical-align:middle; text-align:center; width: 5%">{{ task.task_level.name }}</td>
                    {#等级#}
                    <td style="vertical-align:middle; text-align:center; width: 6%">{{ task.release_time|date:"Y-m-d" }}</td>
                    {#发布时间#}
                    <td style="vertical-align:middle; text-align:center; width: 6%">{{ task.task_start_time|date:"Y-m-d" }}</td>
                    {#任务开始时间#}
                    <td style="vertical-align:middle; text-align:center; width: 6%">{{ task.task_end_time|date:"Y-m-d" }}</td>
                    {#计划完成时间#}
                    <td style="vertical-align:middle; text-align:center; width: 10%">{{ task.mark }}</td>
                    {#备注#}
                    <td style="vertical-align:middle; text-align:center; width: 5%">{{ task.yuqi }}</td>
                    {#逾期天数#}
                </tr>
            {% endfor %}
    </table>

