
<body style="height: 100%; margin: 0">
<style>
    .container {
        height: 900px;
        min-width: 250px;
        max-width: 16%;
        float: left;
    }

    .sort {
        width: 100px;
        height: 40px;
        padding: 0;
    }
</style>
<div style="width:100%;margin-bottom: 10px">
    <button class="btn btn-primary sort" id="sortbydefault">默认排序</button>
    <button class="btn btn-primary sort" id="sortbycount">按数量排序</button>
    <button class="btn btn-primary sort" id="sortbyname">按名称排序</button>
</div>
<div class="container"></div>
<div class="container"></div>
<div class="container"></div>
<div class="container"></div>
<div class="container"></div>
<div class="container"></div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
<script type="text/javascript"
        src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
<script type="text/javascript">
    $("#sortbydefault").click(function () {
        send();
    });
    $("#sortbycount").click(function () {
        send({"sortby":"count"});
    });
    $("#sortbyname").click(function () {
        send({"sortby":"name"});
    });

    var send = function (param) {
        $.post(orig + "/task/analysis2/", param, function (result) {
            data_list = result.data.data;
            //  发布的  完成的  待办的  我发布延期的  我办延期的  预期的
            var lis = result.data.lis;
            var dom = document.getElementsByClassName("container");
            for (var i = 0; i < dom.length; i++) {

                var myChart = echarts.init(dom[i]);
                var app = {};
                option = null;
                option = {
                    title: {
                        text: lis[i],  //标题区域
                        subtext: ''
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        data: ['', '']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    yAxis: {
                        type: 'category',
                        data: data_list[i][0],  // 名字列表区域
                    },
                    series: [
                        {
                            name: '详情',
                            type: 'bar',
                            data: data_list[i][1], // 数据区域
                            itemStyle: {        //上方显示数值
                                normal: {
                                    label: {
                                        show: true, //开启显示
                                        position: 'right', //在上方显示
                                        textStyle: { //数值样式
                                            color: 'black',
                                            fontSize: 10
                                        }
                                    }
                                }
                            }

                        }
                    ]
                };

                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
            }
        });
    };
    send();

</script>
</body>
