<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div>
            <span style="font-size: 1.5em"><b>个人统计</b></span>
            <div style="margin-top: -10px">
                <hr>
            </div>
            <div>
                {% if users %}
                    {% for user in users %}
                        <div class="main{{ user.id }}" style="width: 20%;height:250px;float: left"></div>
                    {% endfor %}
                {% endif %}
            </div>
            <div style="clear: both"></div>


        </div>
        <script type="text/javascript">
            {% if users %}
                {% for user in users %}

                    // 基于准备好的dom，初始化echarts实例
                    var tus = document.getElementsByClassName('main{{ user.id }}');
                    var myChart = echarts.init(tus[0]);
                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: '{{ user.username }}'
                        },
                        tooltip: {},
                        legend: {
                            data: ['办的', '发的']
                        },
                        xAxis: {
                            data: ["全部", "已完成", "未完成", "今日", "超时"]
                        },
                        yAxis: {},
                        series: [
                            {
                                name: '办的',
                                type: 'bar',
                                data: [20, 4, 16, 4, 12]
                            },
                            {
                                name: '发的',
                                type: 'bar',
                                data: [20, 4, 16, 4, 12]
                            }
                        ]
                    };
                    myChart.setOption(option);

                {% endfor %}
            {% endif %}

        </script>
    </div>
</div>