<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div>
            <span style="font-size: 1.5em"><b>个人统计</b></span>
            <div style="margin-top: -10px">
                <hr>
            </div>
            <div>
                {% if users %}
                    {% for user in users %}
                        <div class="main{{ user.id }}"
                             style="min-width: 300px;max-width:100%;height:250px;float: left"></div>
                    {% endfor %}
                {% endif %}
            </div>
            <div style="clear: both"></div>


        </div>
        <script type="text/javascript">
            {% if users %}
                {% for user in users %}

                    // 基于准备好的dom，初始化echarts实例
                    var tus = document.getElementsByClassName('main{{ user.id }}');
                    var myChart = echarts.init(tus[0]);
                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: '{{ user.username }}'
                        },
                        tooltip: {},
                        legend: {
                            data: ['我办的', '我发布的']
                        },
                        xAxis: {
                            data: ["全部", "已完成", "未完成", "今日", '逾期']
                        },
                        yAxis: {
                            type: 'value',
                            min: 0,
                            max: {{ max }},
                        },
                        series: [
                            {
                                name: '我办的',
                                type: 'bar',
                                data: {{ user.numb1}},
                                itemStyle: {        //上方显示数值
                                    normal: {
                                        label: {
                                            show: true, //开启显示
                                            position: 'top', //在上方显示
                                            textStyle: { //数值样式
                                                color: 'black',
                                                fontSize: 10
                                            }
                                        }
                                    }
                                }
                            },
                            {
                                name: '我发布的',
                                type: 'bar',
                                data:{{ user.numb }},
                                itemStyle: {        //上方显示数值
                                    normal: {
                                        label: {
                                            show: true, //开启显示
                                            position: 'top', //在上方显示
                                            textStyle: { //数值样式
                                                color: 'black',
                                                fontSize: 10
                                            }
                                        }
                                    }
                                }
                            }


                        ]
                    };
                    myChart.setOption(option);

                {% endfor %}
            {% endif %}

        </script>
    </div>
</div>