{% load staticfiles %}
{% autoescape off %}
    {{ item.content }}
{% endautoescape %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
          name="viewport">
    <title>Examples &rsaquo; Login &mdash; Stisla</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/web-fonts-with-css/css/fontawesome-all.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="login-brand">
                        闽宸建筑有限公司
                    </div>

                    <div class="card card-primary">
                        <div class="card-header"><h4>Login</h4></div>

                        <div class="card-body">
                            <form method="POST" action="" class="needs-validation" novalidate="">
                                <div class="form-group">
                                    <label for="email">用户名</label>
                                    <input placeholder="手机号" id="email" type="text" class="form-control" name="username" tabindex="1"
                                           required autofocus>
                                    <div class="invalid-feedback">
                                        请输入用户名
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password" class="d-block">密码
                                        <div class="float-right">
                                            <a href="#">
                                                忘记密码
                                            </a>
                                        </div>
                                    </label>
                                    <input id="password" type="password" class="form-control" name="password"
                                           tabindex="2" required>
                                    <div class="invalid-feedback">
                                        请输入密码
                                    </div>
                                    {% if msg %}
                                    <div style="color: red;" id="tishi">{{ msg }}</div>
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="remember" class="custom-control-input" tabindex="3"
                                               id="remember-me">
                                        <label class="custom-control-label" for="remember-me">记住密码</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" tabindex="4">
                                        登录
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="simple-footer">
                        Copyright &copy; mcjz 2019
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

$("#password").focus(function () {
    $("#tishi").hide()
});


$("#email").mouseover(function () {
    $("#tishi").hide()
})
</script>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/tooltip.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'nicescroll/jquery.nicescroll.min.js' %}"></script>
{#<script src="{% static '' %}../dist/modules/moment.min.js"></script>#}
<script src="{% static 'scroll-up-bar/dist/scroll-up-bar.min.js' %}"></script>
<script src="{% static 'js/sa-functions.js' %}"></script>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
</body>
</html>