<table class="table tab-css tab-hover" style="text-align: center">
    <tr>
        <th style="text-align:center; width: 6%">任务发起人</th>
        <th style="text-align:center; width: 20%">任务内容</th>
        <th style="text-align:center; width: 6%">代办责任人</th>
        <th style="text-align:center; width: 6%">发布日期</th>
        <th style="text-align:center; width: 6%">任务开始时间</th>
        <th style="text-align:center; width: 6%">计划完成时间</th>
        <th style="text-align:center; width: 10%">备注</th>
        <th style="text-align:center; width: 5%">任务等级</th>
    </tr>
    {% if not all_task %}
        <tr>
            <td colspan="8">暂无内容</td>
        </tr>
    {% endif %}
    {% for task in all_task %}
        <tr>
            <td style="text-align:center; width: 6%">{{ task.task_originator }}</td>
            <td style="text-align:center; width: 20%">{{ task.task_name }}</td>
            <td style="text-align:center; width: 6%">{{ task.task_recipient }}</td>
            <td style="text-align:center; width: 6%">{{ task.release_time|date:"Y-m-d" }}</td>
            <td style="text-align:center; width: 6%">{{ task.task_start_time|date:"Y-m-d" }}</td>
            <td style="text-align:center; width: 6%">{{ task.task_end_time|date:"Y-m-d" }}</td>
            <td style="text-align:center; width: 10%">{{ task.mark }}</td>
            <td style="text-align:center; width: 5%">{{ task.task_level.name }}</td>

        </tr>
    {% endfor %}
</table>

